
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: "Roboto", sans-serif;
}

[class*="__container"]{
   max-width: 1170px;
   margin: 0 auto;
}

.header{
   background: #FFFFFF;
   
}

.header__container{
   min-height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo-text, .logo-part{
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
}

.logo-part{
   color: #2196F3;
}

.list-items{
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #212121;
   display: flex;
   justify-content: space-between;
}

.list-items li:not(:last-child){
   margin-right: 50px;
}

.studio-item{
   color: #2196F3;
}

.email{
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #2196F3; 
   margin-right: 50px;  
}

.tel{
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #757575;
}

.effective-solutions{
   background-color: #2F303A;
   min-height: 600px;
   padding-top: 200px;
   margin-bottom: 94px;
   box-sizing: border-box;
}

.title-h1{ 
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 30px;
}

.order-service-launch{
   background: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   padding: 10px 32px;
   cursor: pointer;
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 30px;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   margin: 0 auto;
   display: block;
   }

.focus-on-details{
   margin-bottom: 94px; 
}

ul.crtrcs{
   display: flex;
   justify-content: space-between;
}

.crtrcs li{
   width: 23%;
}

.characteristics{
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
   margin-bottom: 10px;
}

.characteristics-descr{
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #757575;
}

.h2-activities{
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}

.images-activities{
   display: flex;
   justify-content: space-between;
}

.activities{
   margin-bottom: 94px;
}

.our-team{
   padding-top: 94px;
}

.h2-our-team{
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}

.photo{
   max-width: 270px;
   margin-bottom: 30px;
}

.photo-list{
   display: flex;
   justify-content: space-between;
}

.name{
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 10px;
}

.profession{
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
   margin-bottom: 30px;
}

.our-team{
   margin-bottom: 94px;
}

footer{
   background-color: #2F303A;
   padding: 60px 0px;
}

.footer-logo-text{
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
}

.footer-logo-emblem{
   margin-bottom: 20px;
}

.address{
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
   margin-bottom: 9px;
}

.footer-email, .footer-tel{
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   margin-bottom: 9px;
}

